[alias]
	a = add
	br = branch
	c = commit
	um = commit --amend
[user]
	useConfigOnly = true
	email = invalidfire@fastmail.com
	name = Riley Housden
	signingkey = 0D6208F6DF56B4D8
[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = input
	pager = less -x1,5
[commit]
	gpgsign = true
