[alias]
	a = add
	br = branch
	c = commit
	um = commit --amend
	shit = reset
[user]
	useConfigOnly = true
	email = riley.t.housden@gmail.com
	name = Riley Housden
[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = input
	pager = less -x1,5
